.chead {
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.imgt {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.snack {
  z-index: 99;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
}
